body {
    font-family: 'Gudea', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    background: url(imgs/background.jpg);
    background-size: cover;
}

div#puzzleWrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
}

.headerTitle {
    font-size: 30px;
    text-align: center;
    padding: 25px 0;
}

.puzzleSection {
    display: inline-block;
    vertical-align: middle;
}

.countSection {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 60px;
    text-align: center;
}

.previewSection {
    display: inline-block;
    vertical-align: middle;
}

.imgChoice{
    position: absolute;
    top: 30px;
    width: 30%;
    right: 0;

}


#start {
    color: #000;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.previewTitle {
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

#image {
    width: 400px;
    height: 400px;
    background-image: url(imgs/img9.jpg);
    position: relative;
    border: 8px black solid;
    border-radius: 10px;
}

#image div {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    /*position: absolute;*/
    float: left;
}

.imgSelectionWrapper .img1 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img1.jpg);
    background-size: contain;
    cursor: pointer;

}

.imgSelectionWrapper .img2 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img2.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper .img3 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img3.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper .img4 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img4.jpg);
    background-size: contain;
    cursor: pointer;
}
.imgSelectionWrapper .img5 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img5.jpg);
    background-size: contain;
    cursor: pointer;
}
.imgSelectionWrapper .img6 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img6.jpg);
    background-size: contain;
    cursor: pointer;
}
.imgSelectionWrapper .img7 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img7.jpg);
    background-size: contain;
    cursor: pointer;
}
.imgSelectionWrapper .img8 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img8.jpg);
    background-size: contain;
    cursor: pointer;
}
.imgSelectionWrapper .img9 {
    width: 200px;
    height: 200px;
    background-image: url(imgs/img9.jpg);
    background-size: contain;
    cursor: pointer;
}

.imgSelectionWrapper>div {
    display: inline-flex;
    

}

.imgSelectionWrapper {
    text-align: center;
    margin: 40px 0;
}

.selectTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
}

.lbWrapper,
.lbWrapper1 {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    z-index: 10;
    top: 0;
    left: 0;
    color: #fff;
    display: none;
}

.lbWrapper .failWrapper,
.lbWrapper .successWrapper {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.failTilte,
.successTilte {
    font-size: 30px;
    text-align: center;
}

.tryAgain {
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
}

.tryAgain a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.signupWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
}

.error {
    display: none;
    color: #ff0000;
    text-align: center;
}

.signUpTitle {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.mlistWrapper {
    text-align: center;
    margin-top: 20px;
}

input#email {
    width: 150px;
    border: none;
    box-shadow: none;
    padding: 5px;
}

input.submit {
    padding: 4px 10px;
    cursor: pointer;
}

.canmove {
    cursor: pointer;
}

.sq1 {
    background-position: 0 0;
}

.sq2 {
    background-position: 33% 0;
}

.sq3 {
    background-position: 66% 0;
}

.sq4 {
    background-position: 100% 0;
}

.sq5 {
    background-position: 0 33%;
}

.sq6 {
    background-position: 33% 33%;
}

.sq7 {
    background-position: 66% 33%;
}

.sq8 {
    background-position: 100% 33%;
}

.sq9 {
    background-position: 0 66%;
}

.sq10 {
    background-position: 33% 66%;
}

.sq11 {
    background-position: 66% 66%;
}

.sq12 {
    background-position: 100% 66%;
}

.sq13 {
    background-position: 0 100%;
}

.sq14 {
    background-position: 33% 100%;
}

.sq15 {
    background-position: 66% 100%;
}

.sq16 {
    background-position: 100% 100%;
}

#pos1 {
    top: 0;
    left: 0;
}

#pos2 {
    top: 0;
    left: 25%;
}

#pos3 {
    top: 0;
    left: 50%;
}

#pos4 {
    top: 0;
    left: 75%;
}

#pos5 {
    top: 25%;
    left: 0;
}

#pos6 {
    top: 25%;
    left: 25%;
}

#pos7 {
    top: 25%;
    left: 50%;
}

#pos8 {
    top: 25%;
    left: 75%;
}

#pos9 {
    top: 50%;
    left: 0;
}

#pos10 {
    top: 50%;
    left: 25%;
}

#pos11 {
    top: 50%;
    left: 50%;
}

#pos12 {
    top: 50%;
    left: 75%;
}

#pos13 {
    top: 75%;
    left: 0;
}

#pos14 {
    top: 75%;
    left: 25%;
}

#pos15 {
    top: 75%;
    left: 50%;
}

#pos16 {
    top: 75%;
    left: 75%;
}

.pointer {
    background-color: #fff;
}



main {
     display: flex;
     flex-direction: column;
     transform: rotatex(10deg);
     animation: rotateAngle 6s linear infinite;
}
 button {
     display: block;
     position: relative;
     margin: 0.5em 0;
     padding: 0.8em 2.2em;
     cursor: pointer;
   background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(85,217,213,1) 0%, rgba(189,85,217,1) 99%);

     border: none;
     border-radius: 0.4em;
     text-transform: uppercase;
     font-size: 2em;
     font-family: monospace;
     font-weight: 500;
     letter-spacing: 0.04em;
     mix-blend-mode: color-dodge;
     perspective: 500px;
     transform-style: preserve-3d;
}
 button:before, button:after {
     --z: 0px;
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     content: '';
     width: 100%;
     height: 100%;
     opacity: 0;
     mix-blend-mode: inherit;
     border-radius: inherit;
     transform-style: preserve-3d;
     transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}
 button span {
     mix-blend-mode: none;
     display: block;
}
 button:after {
     background-color: #5d00ff;
}
 button:before {
     background-color: #ff1731;
}
 button:hover {
     background-color: #fff65b;
     transition: background 0.3s 0.1s;
}
 button:hover:before {
     --z: 0.04;
     animation: translateWobble 2.2s ease forwards;
}
 button:hover:after {
     --z: -0.06;
     animation: translateWobble 2.2s ease forwards;
}
 @keyframes rotateAngle {
     0% {
         transform: rotateY(0deg) rotateX(10deg);
         animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
     25% {
         transform: rotateY(20deg) rotateX(10deg);
    }
     50% {
         transform: rotateY(0deg) rotateX(10deg);
         animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
     75% {
         transform: rotateY(-20deg) rotateX(10deg);
    }
     100% {
         transform: rotateY(0deg) rotateX(10deg);
    }
}
 @keyframes translateWobble {
     0% {
         opacity: 0;
         transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
    }
     16% {
         transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
    }
     28% {
         opacity: 1;
         transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
    }
     44% {
         transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
    }
     59% {
         transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
    }
     73% {
         transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
    }
     88% {
         opacity: 1;
         transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
    }
     100% {
         opacity: 1;
         transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
    }
}
 

@keyframes Font {
    0% {color: crimson;}
    20% {color: orange;}
    40% {color: goldenrod;}
    60% {color: green;}
    80% {color: DarkBlue;}
    100% {color: purple}
}

button:nth-child(1){
  -webkit-animation:Font 5s infinite alternate;
}
button>*{
  -webkit-animation:Font 5s infinite alternate;
}
